/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
  background-color: #2c3e50; /* dark modern */
  color: #ffffff;
  padding: 30px;
  text-align: center;
  font-size: 50px;
}


/* Sidebar Navigation */
nav {
  background-color: #34495e;
  color: #ffffff;
  width: 130px;
  padding: 20px;
  min-height: 100vh;
}


nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav li {
  margin-bottom: 15px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
}

nav a:hover {
  color: #1abc9c; /* teal highlight on hover */
}

nav a.underline {
  text-decoration: underline;
}

/* Article Content */
article {
  flex: 1;
  padding: 0px;
  background-color: #ecf0f1;
  color: #2c3e50;
}



/* Clear floats */
section {
  display: flex;
}


/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: 1.6;
  color: #2c3e50;
  margin-bottom: 20px;
  padding: 5px;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

h1 {
    font-size: 57px;
    text-align: center;
    padding: 20px;
}

h1.title {
    font-size: 80px;
    color: #ffffff;
}

div {
    margin: 20px;
}

div.history {
    padding: 20px;
    font-size: 30px;
}

h2 {
  font-family: 'Segoe UI', sans-serif;
  font-size: 28px;
  color: #2c3e50;
  margin-top: 30px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px;
}

div.geography {
    padding: 20px;
    font-size: 35px;
}

div.Landmarks {
    padding: 20px;
    font-size: 35px;
}

div.economic {
    padding: 20px;
    font-size: 35px;
}

div.culture {
    padding: 20px;
    font-size: 35px;
}

div.transportation {
    padding: 20px;
    font-size: 35px;
}

div.education {
    padding: 20px;
    font-size: 35px;
}

div.green-spaces {
    padding: 20px;
    font-size: 35px;
}

div.facts {
    padding: 20px;
    font-size: 35px;
}   

.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

img {
  margin: 0;
  display: block; /* removes inline spacing */
  max-width: 100%; /* makes sure it doesn't overflow */
}
